form, input, button, div, main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    display: flex;
    align-items: center;
}

a{
    display: inline-flex;
}

main{
    gap: 40px;
}